<section id="contact">

    <div class="container">
        <div class="cs-text">
            <h2>Contact us</h2>
            <p>Velit sed ullamcorper morbi tincidunt ornare. Quam pellentesque nec nam aliquam sem</p>
        </div>

        <form>
            <div>
                <label for="name">name</label>
                <input type="text" name="name" id="name">
            </div>

            <div>
                <label for="email">email</label>
                <input type="email" name="email" id="email">
            </div>

            <div>
                <label for="message">your message</label>
                <textarea name="message" id="message" rows="5" cols="33"></textarea>
            </div>

            <button class="cs-button">Submit</button>
        </form>
    </div>

</section>