<section id="contact">

    <div class="container">
        <div class="cs-text">
            <h2>Contact us</h2>
            <p>Velit sed ullamcorper morbi tincidunt ornare. Quam pellentesque nec nam aliquam sem</p>
        </div>

        <form>
            <div>
                <label for="name"></label>
                <input type="text" name="name" id="name">
            </div>

            <div>
                <label for="email"></label>
                <input type="email" name="email" id="email">
            </div>

            <div>
                <label for="topic"></label>
                <input type="text" name="topic" id="topic">
            </div>

            <button>Submit</button>
        </form>
    </div>

</section>