<section id="faq">

    <div class="container">
        <div class="faq-item">
            <img src="" alt="expand" aria-hidden="true" decoding="async" height="" width=""/>
            <button>Question</button>
            <p class="hidden">Answer</p>
        </div>

        <div class="faq-item">
            <img src="" alt="expand" aria-hidden="true" decoding="async" height="" width=""/>
            <button>Question</button>
            <p class="hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do mod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="faq-item">
            <img src="" alt="expand" aria-hidden="true" decoding="async" height="" width=""/>
            <button>Question</button>
            <p class="hidden">Answer</p>
        </div>

        <div class="faq-item">
            <img src="" alt="expand" aria-hidden="true" decoding="async" height="" width=""/>
            <button>Question</button>
            <p class="hidden">Answer</p>
        </div>
    </div>

</section>