<footer>

  <div class="footer-logo">
    <a aria-label="back to home"><img src="" alt="logo" decoding="async" aria-hidden="true" height="" width=""/></a>

    <div class="social-links">
      <a href="#" aria-label="social link"><img src="" alt="social link" decoding="async" aria-hidden="true" height="" width=""/></a>
      <a href="#" aria-label="social link"><img src="" alt="social link" decoding="async" aria-hidden="true" height="" width=""/></a>
      <a href="#" aria-label="social link"><img src="" alt="social link" decoding="async" aria-hidden="true" height="" width=""/></a>
    </div>
  </div>

  <div class="contact-details">
    <h3>Contact Information</h3>

    <div class="contact-wrapper">
      <div class="item">
        <!-- image /svg -->
        <span>Whatsapp:</span>
        <span>123-456-789</span>
      </div>

      <div class="item">
        <!-- image /svg -->
        <span>Email:</span>
        <span>business@email</span>
      </div>

      <div class="item">
        <!-- image /svg -->
        <span>Business hours:</span>
        <span>9AM - 5PM
          <br>
          Monday - Friday</span>
      </div>

    </div>
  </div>

  <ul>
    <li>
      <a href="#">solutions</a>
    </li>
    <li>
      <a href="#">about</a>
    </li>
    <li>
      <a href="#">faq</a>
    </li>
  </ul>

</footer>