<footer>

  <div class="footer-logo">
    <a aria-label="back to home"><img src="/assets/svgs/rocket_launch.svg" alt="logo" decoding="async" aria-hidden="true" height="50" width="50"/></a>

    <div class="social-links">
      <a href="#" aria-label="social link"><img src="/assets/svgs/logo-facebook.svg" alt="social link" decoding="async" aria-hidden="true" height="25" width="25"/></a>
      <a href="#" aria-label="social link"><img src="/assets/svgs/logo-twitter.svg" alt="social link" decoding="async" aria-hidden="true" height="25" width="25"/></a>
      <a href="#" aria-label="social link"><img src="/assets/svgs/logo-instagram.svg" alt="social link" decoding="async" aria-hidden="true" height="25" width="25"/></a>
    </div>
  </div>

  <div class="contact-details">
    <h3>Contact Information</h3>

    <div class="contact-wrapper">
      <div class="item">
        <img src="/assets/svgs/call.svg" alt="logo" decoding="async" aria-hidden="true" height="25" width="25"/>
        <span>Whatsapp:</span>
        <span>123-456-789</span>
      </div>

      <div class="item">
        <img src="/assets/svgs/mail.svg" alt="logo" decoding="async" aria-hidden="true" height="25" width="25"/>
        <span>Email:</span>
        <span>business@email</span>
      </div>

      <div class="item">
        <img src="/assets/svgs/schedule.svg" alt="logo" decoding="async" aria-hidden="true" height="25" width="25"/>
        <span>Business hours:</span>
        <span>9AM - 5PM
          <br>
          Monday - Friday</span>
      </div>

    </div>
  </div>

  <ul>
    <li>
      <a href="#">solutions</a>
    </li>
    <li>
      <a href="#">about</a>
    </li>
    <li>
      <a href="#">faq</a>
    </li>
  </ul>

</footer>