<header id="cs-navigation">
    <!-- LOGO -->
    <a href="/" aria-label="home"><img src="" alt="logo" decoding="async" aria-hidden="true" height="" width=""/></a>

    <!-- mobile toggle -->
    <button class="cs-toggle" aria-label="mobile menu toggle">
        <div class="cs-box" aria-hidden="true">
            <span class="cs-line cs-line1" aria-hidden="true"></span>
            <span class="cs-line cs-line2" aria-hidden="true"></span>
            <span class="cs-line cs-line3" aria-hidden="true"></span>
        </div>
    </button>

    <!-- nav links -->
    <div class="ul-wrapper">
        <ul>
            <li><a href="#solutions">solutions</a></li>
            <li><a href="#about">about</a></li>
            <li><a href="#faq">faq</a></li>
        </ul>
    </div>

    <!-- phone number -->
    <div>
        <span>123-456-789</span>
    </div>

    <!-- contact / get started button -->
    <a href="#contact">Contact</a>

</header>