<header id="cs-navigation">
    <!-- LOGO -->
    <a href="/" class="nav-logo" aria-label="home"><img src="/assets/svgs/rocket_launch.svg" alt="logo" decoding="async" aria-hidden="true" height="40" width="40"/></a>

    <!-- mobile toggle -->
    <button class="cs-toggle" aria-label="mobile menu toggle">
        <div class="cs-box" aria-hidden="true">
            <span class="cs-line cs-line1" aria-hidden="true"></span>
            <span class="cs-line cs-line2" aria-hidden="true"></span>
            <span class="cs-line cs-line3" aria-hidden="true"></span>
        </div>
    </button>

    <!-- nav links -->
    <div class="nav-ul-wrapper">
        <ul aria-expanded="false">
            <li>
                <a href="#solutions">solutions</a>
            </li>
            <li>
                <a href="#about">about</a>
            </li>
            <li>
                <a href="#faq">faq</a>
            </li>
        </ul>

        <!-- contact / get started button -->
        <a class="cs-button" href="#contact">Contact</a>
    </div>

    <!-- phone number -->
    <div class="nav-phone">
        <img src="/assets/svgs/call.svg" alt="logo" decoding="async" aria-hidden="true" height="25" width="25"/>
        <span>123-456-789</span>
    </div>

</header>