<header id="cs-navigation">

    <!-- mobile toggle -->
    <button class="cs-toggle" aria-label="mobile menu toggle">
        <div class="cs-box" aria-hidden="true">
            <span class="cs-line cs-line1" aria-hidden="true"></span>
            <span class="cs-line cs-line2" aria-hidden="true"></span>
            <span class="cs-line cs-line3" aria-hidden="true"></span>
        </div>
    </button>

    <ul>
        <li>solutions</li>
        <li>about</li>
        <li>faq</li>
    </ul>

    {# phone number #}
    {# contact button #}

</header>