---
title: 'Home Page Title'
description: 'Home page'
preloadImg: ''
permalink: '/'
layout: layouts/base.html
stylesheet: css/home.css
script: '/assets/js/script.js'
---

<!-- HERO SECTION -->
<section id="hero">

  <div class="container">
    <picture>
          <!-- Mobile image -->
          <source media="(max-width: 600px)" srcset="/assets/images/hero-mobile.webp"/>
          <!-- Desktop image -->
          <source media="(min-width: 601px)" srcset="/assets/images/hero-desktop.webp"/>

          <!-- Fallback image -->
          <img src="/assets/images/hero-desktop.webp" alt="" aria-hidden="true" decoding="async" width="1920" height="1200" loading="eager"/> 
   </picture>
   <div class="hero-text">
      <h1>{{ title }}</h1>
      <p>l"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <a class="cs-button" href="#faq">Learn more</a>
   </div>   
  </div>

</section>


<!-- SOLUTIONS SECTION -->
<section id="solutions">

   <div class="container">
     <h2>Our solutions</h2>

     <div class="solution-wrapper">

          <div class="solution">
             <h3>Solution</h3>
             <p>Eu scelerisque felis imperdiet proin. Proin libero nunc consequat interdum varius sit. Ultrices gravida dictum fusce ut placerat.</p>
             <img src="/assets/svgs/build.svg" alt="" aria-hidden="true" decoding="async" height="35" width="35"/>
          </div>

           <div class="solution">
             <h3>Solution</h3>
             <p>Nunc faucibus a pellentesque sit amet porttitor eget dolor morbi. Vel pretium lectus quam id leo.</p>
             <img src="/assets/svgs/satellite_alt.svg" alt="" aria-hidden="true" decoding="async" height="35" width="35"/>
          </div>

           <div class="solution">
             <h3>Solution</h3>
             <p>In metus vulputate eu scelerisque felis imperdiet proin. Lorem donec massa sapien faucibus et molestie ac feugiat.</p>
             <img src="/assets/svgs/heart_plus.svg" alt="" aria-hidden="true" decoding="async" height="35" width="35"/>
          </div>

           <div class="solution">
             <h3>Solution</h3>
             <p>Sagittis vitae et leo duis. In arcu cursus euismod quis viverra nibh cras. Ultrices gravida dictum fusce ut placerat.</p>
             <img src="/assets/svgs/experiment.svg" alt="" aria-hidden="true" decoding="async" height="35" width="35"/>
          </div>

     </div>

   </div>

</section>


<!-- ABOUT SECTION -->
<section id="about">

     <div class="container">

        <div class="section-box"></div>
      
         <div class="heading"> 
           <span>About us</span>
           <h2>Who we are</h2>
         </div>

         <div class="content">
            <picture>
              <!-- Mobile image -->
              <source media="(max-width: 600px)" srcset="/assets/images/about-mobile.webp"/>
              <!-- Desktop image -->
              <source media="(min-width: 601px)" srcset="/assets/images/about-desktop.webp"/>

              <!-- Fallback image -->
              <img src="/assets/images/about-desktop.webp" alt="warehouse interior" aria-hidden="true" decoding="async" width="" height="" loading="lazy"/> 
            </picture>
            
            <div>
               <p>Elit ut aliquam purus sit amet. Morbi non arcu risus quis varius. Eros in cursus turpis massa tincidunt dui ut.</p>
               <p>Suspendisse sed nisi lacus sed viverra. Amet massa vitae tortor  condimentum. Nisi lacus sed viverra tellus in hac habitasse. Imperdiet  proin fermentum leo vel.</p>
            </div>
        </div>

     </div>

</section>


<!-- WHY US SECTION -->
<section id="why-us">

   <div class="container">

      <div class="heading">
        <span>Why us</span>
        <h2>Section title</h2>
      </div>  

        <div class="content">
           
           <picture>
              <div class="section-box"></div>
              <!-- Mobile image -->
              <source media="(max-width: 600px)" srcset="/assets/images/whyus-mobile.webp"/>
              <!-- Desktop image -->
              <source media="(min-width: 601px)" srcset="/assets/images/whyus-desktop.webp"/>

              <!-- Fallback image -->
              <img src="/assets/images/whyus-desktop.webp" alt="handshake" aria-hidden="true" decoding="async" width="" height="" loading="lazy"/> 
          </picture>

            <ul>
              <li>
                <img src="/assets/svgs/check_circle.svg" alt="" aria-hidden="true" decoding="async" height="30" width="30"/>
                <span>Aliquet bibendum enim facilisis gravida neque convallis a cras.</span>
              </li>

              <li>
                <img src="/assets/svgs/check_circle.svg" alt="" aria-hidden="true" decoding="async" height="30" width="30"/>
                <span>Viverra adipiscing at in tellus integer feugiat scelerisque.</span>
              </li>

              <li>
                <img src="/assets/svgs/check_circle.svg" alt="" aria-hidden="true" decoding="async" height="30" width="30"/>
                <span>Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras.</span>
              </li>
            <ul>

        </div>
   </div>


</section>


<!-- REVIEWS SECTION -->
<section id="reviews">

   <div class="container">

     <div class="heading">
       <span>Reviews</span>
       <h2>What our clients say</h2>
     </div> 
  
     <div class="review-wrapper">
     {# create review card for each review #}
      {% for review in reviews %}
         <div class="review">
             <p class="review-text">{{ review.text }}</p>
             <div class="review-client">
                 <span>- {{ review.client_name }}</span>
                 {# <span>{{ review.client_company }}</span> #}
             </div>
         </div>

      {% endfor %}
     </div> 

   </div>
</section>


<!-- FAQ SECTION -->
{% include 'components/faq.html' %}


<!-- CONTACT SECTION -->
{% include 'components/contactForm.html' %}