/* HERO SECTION */
#hero {
    padding-top: 7em;

    .container {
        picture {
            img {
                width: 100%;
                height: auto;
            }
        }

        .hero-text {
            text-align: center;

            p {
                max-width: 400px;
                margin: auto;
            }

            .cs-button {
                display: block;
                padding: .7em;
                width: 260px;
                margin: auto;
                margin-top: 2em;
                text-align: center;
            }
        }
    }
}

/* desktop */
@media screen and (min-width: 1023px) {
    #hero {
        padding-top: 12em;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            picture {
                order: 1;

                img {
                    height: 350px;
                    width: auto;
                }
            }

            .hero-text {
                text-align: left;

                h1 {
                    margin-top: 0;
                }

                p {
                    margin: 2em 0;
                }

                .cs-button {
                    margin: 0;
                }
            }
        }

    }
}

/* larger screens */
@media screen and (min-width: 1300px) {
    #hero {
        .container {
            picture {
                img {
                    height: 420px;
                }
            }
        }
    }
}

/* SOLUTIONS SECTION */
#solutions {
    .container {
        h2 {
            margin: 0;
        }

        .solution-wrapper {
            margin-top: 3em;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            gap: 1em;
            justify-items: center;

            .solution {
                background-color: #fff;
                border-radius: 10px;
                padding: 2em 1.5em;
                max-width: 350px;
                position: relative;

                h3 {
                    margin-top: 0;
                }

                img {
                    position: absolute;
                    right: 1em;
                    bottom: 10px;
                }
            }
        }
    }
}

/* tablet */
@media screen and (min-width: 700px) {
    #solutions {
        .container {
            h2 {
                text-align: center;
            }
        }
    }
}


/* ABOUT SECTION */
#about {
    .container {
        position: relative;

        .section-box {
            position: absolute;
            height: 200px;
            width: 220px;
            background-color: var(--primary-900);
            top: -1.8em;
            left: -2em;
            z-index: -10;
        }

        .heading {
            color: var(--grey-100);
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: 1em;


            picture {
                // max-width: 500px;

                img {
                    width: 100%;
                }
            }

            div {
                max-width: 400px;
            }
        }
    }
}

/* tablet */
@media screen and (min-width:700px) {
    #about {
        .container {
            .section-box {
                width: 250px;
                height: 200px;
                left: -2.5em;
            }

            .content {
                flex-direction: row;
                gap: 2em;
                justify-content: space-between;

                div {

                    p {
                        margin-top: 0;

                    }
                }

            }
        }
    }
}

/* desktop */
@media screen and (min-width:1023px) {
    #about {
        .container {
            .section-box {
                height: 300px;
                width: 370px;
                left: -4em;
                top: -4em;
            }

            .content {
                flex-direction: row;
                gap: 4em;

                picture {
                    max-width: 800px;
                }

                div {
                    p {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}



/* WHY US SECTION */
#why-us {
    .container {

        .content {

            picture {
                display: none;

                img {
                    width: 100%;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 2em;
                margin-top: 3em;
                margin-bottom: 0;
                max-width: 350px;

                li {
                    display: flex;
                    gap: 1em;
                }
            }
        }
    }
}

/* tablet */
@media screen and (min-width:700px) {
    #why-us {
        .container {

            .content {
                display: flex;
                gap: 2em;
                align-items: center;
                justify-content: space-between;

                picture {
                    position: relative;
                    display: initial;
                    order: 1;
                    width: 40%;

                    .section-box {
                        background-color: var(--primary-900);
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        right: -2em;
                        top: -2em;
                        z-index: -10;
                    }
                }

                // ul {


                //     li {
                //         display: flex;
                //         gap: 1em;
                //     }
                // }
            }
        }
    }
}

/* desktop */
@media screen and (min-width: 1023px) {
    #why-us {
        .container {
            .content {
                picture {
                    .section-box {
                        right: -3em;
                        top: -3em;
                    }
                }
            }
        }
    }
}

/* REVIEWS SECTION */
#reviews {
    padding-top: 0;

    .container {

        .review-wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            gap: 1.5em;
            justify-items: center;
            margin-top: 3em;

            .review {
                padding: 1.5em;
                background-color: #fff;
                border-radius: 10px;
                max-width: 350px;

                .review-text {
                    margin-top: 0;
                }

                .review-client {
                    text-align: right;

                    span {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

/* tablet */
@media screen and (min-width: 813px) {
    #reviews {
        .container {
            .review-wrapper {
                .review {
                    &:nth-of-type(1) {
                        justify-self: end;
                    }

                    &:nth-of-type(2) {
                        justify-self: start;
                    }
                }
            }
        }
    }
}


/* FAQ SECTION */
#faq {
    .container {
        h2 {
            text-align: center;
        }

        .faq-wrapper {
            display: flex;
            flex-direction: column;
            gap: 1.5em;
            max-width: 500px;
            margin: auto;
            margin-top: 3em;

            .faq-item {
                width: 100%;
                cursor: pointer;
                padding: 1em;
                background-color: #fff;
                border-radius: 10px;

                img {
                    float: right;
                }

                button {
                    background: transparent;
                    border: none;
                    font-weight: 600;
                    font-size: 1.1rem;
                }
            }
        }
    }
}

/* CONTACT FORM */
#contact {
    background-color: var(--primary-900);

    .container {
        .cs-text {
            text-align: center;
            color: var(--grey-100);

            h2 {
                margin-top: 0;
            }

            p {
                font-size: 1.1rem;
                max-width: 350px;
                margin: 2.5em auto;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 1em;
            max-width: 450px;
            margin: auto;
            align-items: center;


            div {
                width: 100%;

                label {
                    font-weight: 600;
                    display: block;
                    margin-bottom: .6em;
                    color: var(--grey-100);
                }

                input,
                textarea {
                    font: inherit;
                    padding: .5em;
                    width: 100%;
                    border: none;
                    border-radius: 5px;
                }

            }

            .cs-button {
                padding: 1em;
                width: 100%;
                margin-top: 2em;
            }
        }
    }
}

/* desktop */
@media screen and (min-width: 1023px) {
    #contact {
        .container {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .cs-text {
                text-align: left;
            }

            form {
                margin: 0;
                width: 400px;
            }
        }
    }
}